/* Header-section */
.header{
    width: 1900px;
    height: 110px;
    filter: drop-shadow(2.5px 4.33px 7.5px rgba(0,0,0,0.15));
    background-color: #ffffff;
    display: flex;
}

.logo-image{
    width: 70%;
    height: 40%;
    margin-top: 40px;
    margin-left: 112px;
}

.header-content-ul{
    list-style-type: none;
    display: flex;
    margin-top: 47px;
    margin-left: 19%;
}

.header-content{
    font-size: 15px;
    line-height: 28px;
    color: #4d4d4f;
    font-weight: 500;
    font-family: "Inter";
    padding: 20px;
}

.header-button{
    width: 176px;
    height: 45px;
    border-radius: 23px;
    margin: -11px;
    margin-left: 26px;
    display: flex;
    background-image: linear-gradient(90deg, #6fab6a 0%, #6fab6a 100%);
    border: 0;
}

.header-button-circle{
    width: 37px;
    height: 37px;
    border-radius: 18px;
    background-color: #7ead79;
    margin-left: 17px;
    position: relative;
    top: 0;
    left: 0;
}

.header-circle-icon{
    position: absolute;
    top: 60px;
    left: 80px;
    z-index: 1;
}

.header-button-text{
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Inter";
    margin-left: 25px;
}


.logo-image-mobile-responsive{
    display: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }



@media only screen and (max-width: 600px) {
    .header{
        width: 416%;
    }
    .logo-image {
        width: 8rem;
        height: 40%;
        margin-top: 40px;
        margin-left: 15px;
    }

    .header-content-ul {
        margin-left: -8%;
    }
    .header-content{
        display: none;
    }
    .header-button{
        display: none;
    }


    .logo-image{
       display: none;
    }

    .logo-image-mobile-responsive{
        display: block;
        width: 19%;
        margin-top: 12px;
        margin-left: 15px;
    }

    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 12px;
        font-size: 23px;
        border: none;
        cursor: pointer;
        margin-right: 92px;
        margin-top: 24px;
    }

    .dropdown {
        position: relative;
        display: block;
      }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        margin-right: 30px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown {
        position: relative;
        display: block;
        float: right;
        margin-left: 74%;
    }
}

.section-1{
    width: 1898px;
    height: 709px;
    background-color: #f5f6f5;
    display: flex;
}

.section-1-title-content{
    margin: 0px;
    font-size: 70px;
    line-height: 70px;
    color: #323e4a;
    font-weight: 700;
    font-family: "Titillium Web";
    padding-top: 27%;
    padding-left: 45%;
}

.section-1-title-content-2{
    width: 566px;
    height: 35px;
    font-size: 15px;
    line-height: 24px;
    color: #4a5764;
    font-weight: 400;
    font-family: "Inter";
    padding-left: 44%;
}

.york{
    color: #6fac6a;
}

.section-1-pharmacy-button{
    width: 200px;
    height: 45px;
    border-radius: 23px;
    background-image: linear-gradient(90deg, #6fab69 0%, #6fab69 100%);
    }

.section-1-button-text{
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Inter";
    margin-left: -47px;
}

.section-1-button{
    width: 201px;
    height: 45px;
    border-radius: 23px;
    margin: -11px;
    margin-left: 26px;
    display: flex;
    margin-top: 35px;
    border: 0;
    background-image: linear-gradient(90deg, #6fab6a 0%, #6fab6a 100%);
    margin-left: 271px;
}

.section-2-image{
    margin-left: 20%;
    margin-top: 8%;
}

.middle-section{
    width: 1170px;
    height: 95px;
    border-radius: 48px;
    filter: drop-shadow(2.5px 4.33px 7.5px rgba(0,0,0,0.15));
    background-color: #ffffff;
    display: flex;
    position: absolute;
    left: 48%;
    transform: translateY(-50%) translateX(-50%);
}

.left-middle-section{
    width: 307px;
    height: 95px;
    border-radius: 48px 0px 0px 48px;
    background-color: #6fac6a;
    display: flex;
}

.middle-section-icon{
    margin: 28px;
}

.right-middle-section{
    width: 761px;
    height: 71px;
    font-size: 16px;
    line-height: 26px;
    color: #4d4d4f;
    font-weight: 500;
    font-family: "Inter";
    margin-left: 26px;
}

@media only screen and (max-width: 600px) {
    .middle-section{
        width: 1170px;
        height: 95px;
        border-radius: 48px;
        filter: drop-shadow(2.5px 4.33px 7.5px rgba(0,0,0,0.15));
        background-color: #ffffff;
        display: flex;
        position: absolute;
        left: 196%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.section-2{
    width: 1898px;
    height: 709px;
}

.section-2-title{
    font-size: 45px;
    line-height: 28px;
    color: #323e4a;
    font-weight: 700;
    font-family: "Titillium Web";
    }

.section-2-title{
    margin-left: 30%;
    margin-top: 6%;
}

.section-2-subtitle{
    width: 770px;
    height: 63px;
    font-size: 18px;
    line-height: 18px;
    color: #4a5764;
    font-family: "Inter";
    text-align: center;
    margin-left: 31%;
}

.section-2-subtitlee{
    width: 770px;
    height: 63px;
    font-size: 18px;
    line-height: 18px;
    color: #4a5764;
    font-family: "Inter";
    text-align: center;
    margin-left: 34%;
}